- content_for :title, 'Sign up'
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'medium-8 medium-centered columns', role: 'form' }) do |f|
  = devise_error_messages!
  .row.collapse
    .small-2.columns
      %span.prefix.radius @
    .small-10.columns
      = f.text_field :username, autofocus: true, autocapitalize: false, autocorrect: false, placeholder: 'Desired Username', class: 'form-control'
  .row.collapse
    .medium-6.columns
      = f.text_field :first_name, autofocus: true, class: 'form-control ', autocapitalize: false, autocorrect: false, placeholder: 'First Name'
    .medium-6.columns
      = f.text_field :last_name, class: 'form-control', autocapitalize: false, autocorrect: false, placeholder: 'Last Name'
  = f.email_field :email, autofocus: true, autocapitalize: false, autocorrect: false, placeholder: 'Email', class: 'form-control'
  = f.password_field :password, placeholder: 'Password', class: 'form-control'
  = f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control'
  = f.check_box :visible
  = f.label :visible, class: 'form-control'
  %p.hint
    If you choose to make your account private, you will not be able to add friends and share with them.
    %strong Note:
    You can choose to make some or all of your activities private while maintaining a public account.
  .row
    .small-12.actions.text-right
      = f.submit 'Sign up', class: 'button'
.row
  .medium-8.medium-centered.columns
    = render 'devise/shared/links'
