= form_for @activity, url: @activity.new_record? ? activities_path : activity_path(@activity.user,@activity), html: { class: 'medium-8 medium-centered columns', role: 'form' } do |f|
  - if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg

  = f.label :name, class: 'sr-only'
  = f.text_field :name, placeholder: 'Name', class: 'form-control'
  = f.label :type, class: 'sr-only'
  = f.select :type, options_for_select(Activity::TYPES.map{|x| [x.titleize,x]}, @activity[:type]), {}, class: 'form-control'
  = f.check_box :private
  = f.label :private, class: 'form-control'
  .row
    .small-12.columns.actions.text-right
      = f.submit 'Save', class: 'button'
      - if !@activity.new_record?
        = link_to 'Show', activity_path(@activity.user,@activity), class: 'btn btn-default'
