- content_for :jumbotron do
  %h1
    = @activity.name.titleize
    %br
    %small
      = @activity.private? ? "Private" : "Public"
      = @activity.type.titleize
      Activity
      = surround '(',')' do
        =link_to '@'+@user.username, @user

.row
  .medium-4.columns
    - if @activity.type.downcase=='timed'
      %h3.time-spent{data: { 'diff-format' => '%H'}}
        = @activity.time_spent('%H')[:diff]
        %br
        %small.time-spent
          = surround '(',')' do
            = @activity.time_spent[:diff]
    - else
      %h4.tally
        = pluralize(@activity.counteds.length,'time')
    .button-group
      -# TODO: SET UP GOALS ARCHITECTURE
      = link_to '#', class: 'button secondary', title: 'Coming Soon', data: { tooltip: true } do
        %i.fi-graph-bar
        Set Goals
      = link_to edit_activity_path(@activity.user,@activity), class: 'button' do
        %i.fi-pencil
        Edit
  %section.medium-8.columns
    %h2 Recent activity
    = render "instances/#{@activity.type.downcase}_list", locals: { activity: @activity }