!!!
%html
  = render 'layouts/head'
  %body.base{ class: body_classes }
    .off-canvas-wrap
      .inner-wrap
        =render 'layouts/navigation'
        %main{ role: 'main' }
          .row
            %header.small-12.columns
              = content_tag(:h1, content_for(:title))    if content_for? :title
              = content_tag(:h4, content_for(:subtitle)) if content_for? :subtitle
          - if !flash.empty?
            .row
              .small-12.columns=render 'layouts/notifications'
          .row
            .small-12.columns
              = yield
        %footer
          .row
            %p Copyright ©2013 Ben Saufley
    = javascript_include_tag 'application'