!!!
%html
  %head
    %title Mastery
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header{ class: 'navbar navbar-fixed-top' }
      %nav.navbar-inner
        .container
          =render 'layouts/navigation'
    %main{ role: 'main' }
      .container
        .content
          .row
            .span12
              = content_tag(:p, notice, class: 'notice') if notice
              = content_tag(:p, alert,  class: 'alert')  if alert
          .row
            .span9
              = yield
    %footer
    = javascript_include_tag "application", "data-turbolinks-track" => true