!!!
%html
  %head
    %meta{ name: 'viewport', content: 'initial-scale=1, maximum-scale=1' }
    %title Mastery
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
    = surround '<!--[if lt IE 9]>'.html_safe, '<![endif]-->'.html_safe do
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      -# <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse{ role: 'navigation' }
      %nav.container
        =render 'layouts/navigation'
    %main{ role: 'main' }
      .container
        %header.page-header
          - if content_for? :title
            %h1=content_for :title
        .row
          %div{ class: (!flash.empty? ? 'col-md-8' : 'col-md-12' )}
            = yield
          - if !flash.empty?
            .col-md-4=render 'layouts/notifications'
    %footer
      .container
        %p Copyright ©2013 Ben Saufley
    = javascript_include_tag "application"